.election-dates .state-name {
  background-color: #eaf5fb;
  border-bottom: solid #128AC2 2px !important;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.match-my-cols {
  border-bottom: solid #D4D4D4 1px !important;
}

.row.match-my-cols {
  overflow: hidden;
}

.row.match-my-cols [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 100010px;
  padding-left: 10px;
  padding-right: 10px;
}

.election-dates {
  h1 {
    font-size: 22px;
    color: #03163F;
  }

  .election-title h2 {
    font-size: 18px;
    color: #b20837;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #063D82;
  }

  h4 {
    color: #002051;
    font-size: 18px;
    display: inline-block;
    width: auto;
  }

  ul {
    padding-left: 16px;
  }
}

body.eod {
  div.main-content {
    .content {
      & > .row {
        margin: 0;
      }
    }
  }
}

.center-list {
  text-align: center;

  ul {
    text-align: left;
    display: inline-block;
  }
}

body.faq {
  div.main-content {
    .content {
      & > .row {
        margin: 0;
      }
    }

    .title {
      text-align: left;
      margin: 30px 0 50px 0;
    }

    ul.faq-list {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;

      li {
        margin: 0 0 30px 0;
        font-size: 16px;

        .faq-title {
          font-family: GraphikSemi;
        }
      }
    }
  }
}

.markdown h1,
.markdown h2 {
  font-size: 16px;
}


.panel-body.eod table th .header{padding-left:22px;}

.panel-body.eod table tr td:first-child{padding-left:40px}


.panel-body.svid table ul {
  padding-left:16px;
  margin-bottom:0;
}

table.accordian-content .r0 {
  background-color: #fafafa;
}

table.accordian-content .r0 .odd{
  background-color: #ffffff;
}

table.accordian-content .r1 {
  background-color: #f7f7f7;
}

table.accordian-content .r1 .odd{
  background-color: #fcfcfc;
}

table.accordian-content .r2 {
  background-color: #f4f4f4;
}

table.accordian-content .r2 .odd{
  background-color: #fafafa;
}

table.accordian-content .r3 {
  background-color: #f1f1f1;
}

table.accordian-content .r3 .odd{
  background-color: #f8f8f8;
}

table.accordian-content .r4 {
  background-color: #ededed;
}

table.accordian-content .r4 .odd {
  background-color: #f5f5f5;
}

table.accordian-content .r4 td {
  border-bottom:  0px solid #fff;
}

table.election-deadlines td.b-left{
  border-left: solid 1px #fff;
}

table.election-deadlines td.b-left ul{
  padding-left:16px;
  margin:0;
}

table.election-deadlines td.b-left ul{
  padding-left:16px;
}

table.accordian-content {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border-collapse: separate;
}

table.accordian-content .first-col {
  text-align: left;
  width: 35%;
}

.panel-body.svid .table>thead>tr>th, .svid table {
  background-color: #fafafa;
}

.panel-body.svid .table>thead>tr>th, .panel-body.svid .table>tbody>tr>td {
  border-color: #fff;
}

.panel-body.svid .table>tbody>tr>td {
  background-color: #f4f4f4;
}

.trans-options {
  text-align: center;
}

.panel-body.svid {
  padding: 0;
}

.panel-body.svid.no-table {
  padding: 0 30px;
}

.accordian, .accordian-content {
  border: 1px solid #E7E7E7;
}

.svid table h4, .svid table h5 {
  margin: 5px 0 5px 20px;
}

table.accordian-content td {
  border-bottom: 1px solid #fff;
  padding: 8px;
}

#block-disclosure {
  margin: 15px 0;
  font-size: 11px;
  text-align: center;
  color: $secondary-font-color;
}