IMAGE_VERSION: <set via cicd>
ENVIRONMENT: dev
DB_URL:
DB_USER:
DB_PASS:
VOTE_SMART_KEY:
JEDIS_HOST:
JEDIS_PORT:
JEDIS_DB:
JEDIS_ENABLED:
FEDEX_AUTH_KEY:
FEDEX_AUTH_PASS:
FEDEX_CLIENT_NUM:
FEDEX_METER_NUM:
AUTHORIZE_NET_LOGIN:
AUTHORIZE_NET_KEY:
FACT_CHECK_KEY:
LOCAL_ELECTION_AUTH_TOKEN:
LOCAL_ELECTION_URL:
EOD_API_SERVICE_URL:
SENDGRID_API_KEY:
RECAPTCHA_SITE_KEY:
RECAPTCHA_SECRET_KEY:


MAIL_HOST:
MAIL_LOGIN:
MAIL_PASS:
MAIL_TLS:
MAIL_PORT:

# prod only gets the following settings
IVOTE_ISRAEL_SERVER:
IVOTE_ISRAEL_PORT:
IVOTE_ISRAEL_USER:
IVOTE_ISRAEL_PASS:
IVOTE_ISRAEL_SFTP_DIR:
