/* Bootstrap overrides */
.label,
.member-badge { background-color: inherit; }

b, strong {font-weight:600;}

/*.container { width:auto; }   */

.mva.account.nav { padding-right:25px; }

label input, label textarea, label select { display:inline; }

.ui-accordion-header span {
  padding-left:16px;
  background: url('../img/icons/arrow.png') 0 3px no-repeat;
  cursor: pointer;
}

.ui-accordion-header.ui-state-active span {
  padding-left:16px;
  background: url('../img/icons/down_arrow.png') 0 6px no-repeat;
  cursor: pointer;
}

.accordion { margin-bottom: 0; }

/* MVA Drop Down */


.dropdown-menu .divider { display:block; }


.site-tools .dropdown-menu a { color:#444; }

/* MVA Account */

.account-nav h2,
.account-nav h3 {
  font-size: 1.25em;
  margin-left: 2em;
  margin-top: 1.2em;
}

.account-nav small {
  padding-left: 1.1em;
  white-space: nowrap;
}
.account-nav .thanks { text-align: right; }

.account-nav .thanks h3 {
	font-weight:700;
  display:inline-block;
  position: relative;
  top: -20px;
}

.account-nav h3 {
	font-weight:normal;
}

.mva .grid_16.main-content {
  background:#dbdbdb url('../img/backgrounds/mva-bg.jpg');
  padding-top:0;
 }

.mva .grid_15 {
  margin:0 auto;
  margin-bottom:55px;
  padding:0;
}

.account-sub-nav { background-color:#0F2F58; }

.account-sub-nav ul {
	list-style-type: none;
	margin:0;
  position: relative;
  left: -5px;
}

.account-sub-nav li:first-child { margin-left:0; }

.account-sub-nav ul li {
	display:inline-block;
	text-transform:uppercase;
}

.account-sub-nav ul li a {
	color:#fff;
	padding: 12px 6px;
	display: block;
}

.mva.profile .account-sub-nav .profile,
.mva.contacts .account-sub-nav .contacts,
.mva.dates .account-sub-nav .dates,
.mva.my-reps .account-sub-nav .my-reps,
.mva.key-votes .account-sub-nav .key-votes
{ background:transparent url('/vote/img/icons/mva-arrow.png') bottom center no-repeat; }

.account-sub-nav .key-votes { display:none; }
.mva.key-votes .account-sub-nav .key-votes { display:inline-block; }

.membership {
	color: #fff;
	font-size: .75em;
	margin-top: 14px;
	text-align:center;
}

.membership.stat {
  background: url('../img/icons/voter-star.png') no-repeat 6px top;
  padding-top: 33px;
  margin-top: 6px;
  line-height: 12px;
  padding-left: 1px;
  width:40px;
  display:inline-block;
}

.mva .voter-account-page { margin-left:2em; }

.mva .voter-account-page h3,
#eod-form.voter-account-page h3 { color:#1d5382; }

.my-reps .voter-account-page h3 { margin-top:0; }

#eod-form.voter-account-page h4,
#eod-form.voter-account-page h5 { font-size:14px; }

.mva .voter-account-page strong { color:#7d7d7d; }

.mva .voter-account-page .grid_6.alpha { padding-left:10px; }

.mva .voter-account-page .content {
  padding-left: 10px;
  padding-top: 0;
  margin-bottom: 25px;
}

.row.mva-account { background-color: #8FBCDA; }

.mva .voter-account-page .content p { margin-bottom:.25em; }

.mva .voter-account-page .extended-profile .title {
  background-color:#1d5382;
  width:100%;
  margin: 0;
}

.extended-profile .title h3 {
  color:#fff;
  padding: 5px 35px;
  font-size: 150%;
}

.extended-profile h2 {
	margin:12px 0;
}

.extended-profile label,
.extended-profile input[type='checkbox'],
.extended-profile input[type='radio']{
  display: inline-block;
  margin-left:5px;
}

.extended-profile label { margin-right:8px }

#extendedProfile div span:nth-child(5),
#extendedProfile div span:nth-child(6) { white-space: nowrap; }

#extendedProfile legend {
  font-weight: bold;
  width:auto;
}

.extended-profile h2.section {
  border-bottom:solid #C0C9D0 2px;
  width: 92%;
  padding-bottom: 5px;
}

.extended-profile h3.eod {
  font-size: 18px;
  margin-left: -22px;
  margin-bottom: 21px;
}

.inline-checkboxes span { /*blame java not me*/
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.inline-checkboxes.wrap span { display: block; }

.inline-checkboxes label { /* more blame game here*/
  padding-left: 7px;
  font-weight: normal;
}

.row.representatives {margin-bottom:25px;}

.bill{
  background-color: #f4fafd;
  margin:2px 0;
  padding: 10px;
}

.memberBadge {
  min-width:90px;
  width:90px;
  height:79px;
  margin-top: .25em;
}

.voter-account-page .accordian { margin-left:20px; }

.row.inline dl,
.row.inline dl label { display:inline; }

.row.inline label,
.row.inline input {
  width:auto;
  display:inline-block;
}

.smarty-ui{
  margin-left: 1em;
  z-index: 2;
}

/* New Responsive */

.account-nav {
  color:#fff;
  background-color:#1d5382;
}

.account-nav .member img {
    width:65px;
    position:absolute;
    left:75px;
}

.account-nav .navbar {
  text-transform:uppercase;
  min-height: 25px;
  margin-bottom: 0;
  border: none;
}

.form-type-selection label  { font-size:113%; }

.home.login #navbar{display:none;} /* temporary hack for login */

@media (min-width: 480px) AND (max-width: 992px){
	.thanks { text-align: center;}
}


input[type="submit"] {
  border:none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	font-weight:500;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
  display: inline-block;
  color: #fff;
  margin-top:12px;
  margin-bottom: 20px;
  padding: 7px  15px;
  float:right;
  background:#E63F40;
  text-transform: uppercase;
    font-size:105%
}

a.button,
.my-reps .voter-account-page a.button,
.voter-account-page a.button{
 display: inline-block;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 7px 15px;
  background:#E63F40;
  text-transform: uppercase;
  font-weight:500;
}

a.button.small {
  font-size:85%;
  margin-bottom:0;
}

.button.back {
  background-color:#b2b2b2;
  background-image: none;
  padding: 7px 15px;
}

 .nav.site-tools > li > a {
    display: inline;
}
.nav.site-tools .mva a.logout-link {
    padding: 0;
}

.site-tools {
    height: 35px;
    top: 11px;
    margin-top:18px;
}
.site-tools .mva {
    background: url("../img/sidebar/mva.png") no-repeat scroll 6px center rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 5px;
}
.site-tools .mva.active {
    background-color: #FFFFFF;
}
.caret-override {
    border-bottom-color: #3496B6 !important;
    border-top-color: #3496B6 !important;
}
.site-tools .vhd {
    background: url("../img/sidebar/vhd.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    padding-left: 12px;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color:transparent;
}

.dropdown-menu > li { width:100%; }

.glyphicon-ok {color:#EE5656;}

.center-block {float: none;}

footer{
  text-align: center;
  font-size: 80%;
  margin-bottom: 12px;
}

