$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$primary-font-color: #333333;
$secondary-font-color: #717877;
$primary-button-background: #ffbc00;
$primary-button-background-hover: #ff9e18;
$primary-button-background-active: #ff9e18;
$primary-button-border: #ffbc00;
$primary-button-border-hover: #ffbc00;
$primary-button-border-active: #ff9e18;
$primary-button-color: #2c2c2c;

$vote411-brand-darkpurple: #b030b5;
$vote411-brand-lightpurple: #6e6da9;
$vote411-brand-lightgreen: #2e9fba;
$vote411-brand-green: #3fa06f;
$vote411-brand-dark-blue: #0a3a5a;

$vote411-accents-darkblue: #023150;
$vote411-accents-yellow: #fec40e;
$vote411-accents-red: #fec40e;
$vote411-accents-gray: #fec40e;

$vote411-text-heading: #082437;
$vote411-text-title: #111111;
$vote411-text-base: #333333;
$vote411-text-action: #666666;
$vote411-text-inversetitlelight: #b7cbd5;
$vote411-text-inversetitle: #94a8b2;
$vote411-text-link: #09718a;

$vote411-border-background-gray: #999999;
$vote411-border-background-lightgray: #dddddd;
$vote411-border-background-xlightgray: #eeeeee;
$vote411-border-background-xxlightgray: #fbfbfb;

$vote411-action-error: #be2d53;
$vote411-action-error: #247fe0;
