th {
	text-align:right;
	vertical-align:top;
}

td ol {
	margin-left:20px;
}

#EditQueryForm .columnLabel {
    border-top: solid 1px #ccc;
    padding: 5px 10px 5px 0px;
}

#EditQueryForm .columnQuestions {
    border-top: solid 1px #ccc;
    padding: 5px 0px 5px 0px;
}