/** EOD pages header **/


#eodForm #continue input { margin-left: 34%; }

#eodForm .state-select #ajax_region_select,
.bc-form fieldset .one-line #select_state.field{
  width:200px; text-align:left;
}

.eod .list-head{
  font-size:18px;
  padding-top:12px;
  color:#b20837;
}

#eod-form .last-updated {
  float: right;
  margin-right: 41px;
  line-height: 30px;
}

#eod-form h5, 
#eod-form h4,
.markdown h3 {font-size:16px;}

.svid table h4,
.svid table h5{margin: 5px 0 5px 20px;}

#eod-form .tab-pane > h4{
  font-size: 20px;
  margin: 24px 0 24px 18px;
 }
 
 #eod-form h4.panel-title{
  font-size:18px;
  margin-left:14px !important;
}

.election-dates-form {
  background-color:#eaf5fb;
  padding:20px;
  border-radius:10px;
  padding-bottom: 0;
}

.no-table,
.markdown {background-color:#f7f7f7;}

#eod-form .corrections {
  font-style:italic;
}

.error, #eod-corrections .instr {
  margin: 10px 20px;
}

#eod-corrections .instr {
  color: #000078;
}

.errorMsg {
  display:block;
  color:#A00029;
}

.sect h4, .sect dl dt {
    float: left;
    display: block;
    font-weight: bold;
    width:225px; 
    height: 1%;
    margin: 0px; padding: 8px 10px 2px 10px;
    font-size: 13px;
  clear: both;
}
.sect p, .sect dl dd {
    float: left;
    display: block;
    width: 275px;
    margin: 0px; padding: 8px 10px 2px;
}

.sect p.note {
    font-size: 75%;
}
.sect dl {
    display: block;
    float: left;
    margin: 0px; padding: 0px 0px 0px 0px;
}

.sect .break {
    height: 5px;
    width: 650px;
    line-height: 0px;
    border-bottom: 1px solid #ddd;
    background: none !important;
    margin: 5px 1px;
    padding: 5px 0;
}

.sect.first {
    padding-top: 3px;
    background: transparent url(../img/backgrounds/506-w-col-hd.gif);
}
.corrections {
    margin:16px auto;    
    font-style: italic;
    text-align: right;
}
.corrections a {
    text-decoration: underline;
}
.sect.last {
    padding: 0px 0px 15px 0px;
    border-bottom: 0px;
    background: transparent url(../img/backgrounds/506-w-col-ft.gif) bottom left no-repeat;
}
.sect.last .break {
    border-bottom: 0px;
}
.sect .ctrl {
    float: left;
    width: 315px;
    padding: 8px 50px 2px 10px;
    min-height:18px;
    height: auto;
    cursor: pointer;
    background: transparent url(../img/buttons/eod-edit-button.gif) right 6px no-repeat;
}
.sect .ctrl span {
    display: block;
    width: 230px;
}
.sect .ctrl p {
    line-height: 16px;
    padding: 2px 0px 5px 0px;
}
.sect .pnl {
    clear: left;
    width: 506px;
    display: none;
}
.sect .pnl label {
    height: 24px; 
    line-height: 22px;
    white-space: nowrap; 
}
.sect .pnl input, .sect .pnl .field-name {
    float: left;
    margin: 1px 0px;
}
.sect .pnl .field-name {
    display: block;
    width: 205px;
    padding: 2px 10px 0px 0px;
    height: 16px;
    line-height: 14px;
}
.sect .pnl input {
    width: 250px;
    height: 16px;
}
.sect .pnl input.firstName {
    width: 120px;
}
.sect .pnl input.lastName {
    width: 120px;
    margin-left: 5px;
}
.sect .pnl input.city {
    float: none;
    display: inline;
    width: 100px;
}
.sect .pnl input.state {
    float: none;
    display: inline;
    width: 20px;
    margin-right: 5px;
}
.sect .pnl input.zip {
    float: none;
    display: inline;
    width: 40px;
}
.sect .pnl input.zip4 {
    float: none;
    display: inline;
    width: 33px;
}
.sect .pnl input.check {
    float: none;
    display: inline;
    width: auto;
}
.sect textarea {
    height: 100px;
    width: 500px;
    border: 1px solid #888;
}
.sect.complete-status {
}
.sect.complete-status h4 {
}
.sect.complete-status label {
    padding: 2px 10px 2px 220px;
    display: block;
    clear: both;
}
.sect.complete-status label span {
    display: block;
    float: left;
    width: 100px;
}
.sect.complete-status label input {
    display: block;
    float: left;
}

.status-select {
    margin: 0px 20px;
    padding: 0px;
}
.status-select label span {
    padding: 0px 10px 0px 0px;
    font-weight: bold;
    color: #c00;
}
.state-upload label {
    display: block;
    padding: 5px 100px;
    height: 20px;
}
.state-upload label span {
    display: block;
    float: left;
    font-weight: bold;
    width: 110px;
}
.state-upload label select {
    display: block;
    float: left;
    width: 180px;
}

.region-list .website a {
    display: block;
    width: 300px;
}

table td.correction {
    background-color: #FDEEB9;
}
table td.correction em {
    color: #c00;
    font-weight: bold;
    font-style: normal;
}


#eod-form .oneline span {
  width: 120px;
}
#eod-form .oneline select {
  width: 200px;
}
#eod-form #continue input, #eod-form #continue a {
  margin-left: 215px;
}
#eod-form fieldset.state-select { padding: 20px 0px; }

label.one-line.select { text-transform: capitalize; }

#eod-form h3,
.alert-danger{color: #b20837;}

#eod-form table.section {
  margin-left:auto;
  margin-right:auto;
  margin-top:1px;
  width: 680px;
  background-color:white;
  border: solid #ccc 1px outset;
}

#eod-form table.section th, #eod-form table.section th {
  vertical-align: top;
}

#eod-form table.section th {
  width   : 185px;
  text-align: left;
}

#eod-form #corrections {
  margin-left:20px;
  margin-right:30px;
  text-align:right;
}

#eod-form .section .ctrl {
  background: transparent url('../img/buttons/eod-edit-button.gif') top right no-repeat;
  padding-right: 50px;
  cursor: pointer;
  margin: 2px 0px;
    min-height:20px;
}

#eod-form .section .pnl {
  display: none;
  background-color: #ffffc8; 
  padding: 5px;
}

#eod-form .section .YAHOO-bc-ExpandingPanel-hidden .pnl textarea,
#eod-form .section .YAHOO-bc-ExpandingPanel-hidden .pnl label,
#eod-form .section .YAHOO-bc-ExpandingPanel-hidden .pnl div {
/*  visibility: hidden; */
}
#eod-form .section .YAHOO-bc-ExpandingPanel-visible .ctrl {
  background: transparent url('../img/buttons/eod-cancel-button.gif') top right no-repeat;
}

#eod-form .section .pnl label {
  display: block;
  padding: 1px 3px;
  height: 23px;
  font-weight: normal;
}
/*
#eod-form .section.address .pnl {
  height: 100px;
}
*/

#eod-form .section .pnl span.field-name {
  display: block;
  float: left;
  font-weight: bold;
  width:110px;
}

#eod-form .section.address .pnl span.field-name {
  width:100px;
}

#eod-form .section .pnl input {
  width: 300px;
  border: 1px solid #e7e7e7;
}

#eod-form .section.address .pnl input {
  width:300px;
}

#eod-form .section .pnl input.firstName {
  width: 100px;
}
#eod-form .section .pnl input.lastName {
  width: 102px;
  margin-left:2px;
}
#eod-form .section .pnl input.city {
  width: 100px;
}
#eod-form .section .pnl input.state {
  width: 30px;
  margin-right: 2px;
}
#eod-form .section .pnl input.zip,
#eod-form .section .pnl input.zip4 {
  width: 50px;
}

.g-recaptcha{ 
  display:inline-block; 
  text-align:center; 
  margin-top:16px;
}

/* accordian overrides */
.accordian, .accordian-content {
  border:1px solid #E7E7E7;
}

.accordian {
  background-color:#FFFFFF;
  margin:10px 41px;
  padding: 3px 6px 6px 3px;
}

.accordian.YAHOO-bc-ExpandingPanel-visible .ctrl{
  background: url('../img/icons/up_arrow.png') no-repeat right center;
}

.accordian.YAHOO-bc-ExpandingPanel-hidden .pnl{
}

.accordian .ctrl{
  background: url('../img/icons/down_arrow.png') no-repeat right center;
  cursor: pointer;
  margin: 0px;
}

.accordian-content {
  background-color:#fafafa;
  margin: 10px 0px;
}

.accordian-sect {border-bottom: 1px solid #fff;}

.accordian-sect dl {margin: 12px auto;}

.accordian-sect.last {
  border-bottom: none;
}

.accordian .break, .accordian-sect.last {
  border: none;
  width: 100%;
}

.accordian .break {
  clear: left;
}

.accordian-sect.mailing-address p,
.accordian-sect.physical-address p,
.accordian-sect.additional-address p {width:auto;}

table.accordian-content {
  width: 100%;
  margin: 10px 0px 10px 0px; 
  padding: 0px;
  border-collapse: separate;
}

table.accordian-content td {
  border-bottom:  1px solid #fff;
  padding:8px;
}

table.accordian-content .first-col {
  text-align: left;
  width: 35%;
}

.note {
  text-align: left;
  padding:12px !important;
  padding-left: 28px !important;
}

.nav-tabs.svid>li>a{
  font-size: 17px;
}

.svid .tab-pane{margin-top:15px;}

.panel-body.svid .table>thead>tr>th,
.panel-body.svid .table>tbody>tr>td{border-color:#fff;}

.panel-body.svid .table>thead>tr>th,
.svid table {background-color:#fafafa;}
.panel-body.svid .table>thead>tr.labels>th{background-color:#f0f0f0;}
.panel-body.svid .table>tbody>tr>td{background-color:#f4f4f4;}

.panel-body.svid .table>thead>tr.labels>th:first-child{border-right:solid #fff;}

.panel-body.svid{padding:0;}

.panel-body.svid.no-table{padding:0 30px;}

.panel-body.svid.markdown{padding:0 30px !important;}

.panel-default>.panel-heading{
  background-color:#FFF !important;
  color:#03163F !important;
}

.panel-heading {
    cursor: pointer;
}

.collapsed .panel-title:after{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.panel-title:after {
  float: right;        /* adjust as needed */
  content: "";    /* adjust as needed, taken from bootstrap.css */
  border: solid #128ac3;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding:4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.svid table {margin-bottom:0;}

.panel-body.svid .header,
.address-type,
.markdown h1{
  font-weight: bold;
  color: #b20837;
}

.address-type{margin-top:0;}

.panel-body.svid .header.election-title h4{
  font-size:18px !important;
}

.markdown h1,
.markdown h2{font-size:16px;}

.panel-body.eod table th .header{padding-left:22px;}

.panel-body.eod table tr td:first-child{padding-left:40px}


.panel-body.svid table ul {
  padding-left:16px;
  margin-bottom:0;
}

table.accordian-content .r0 {
  background-color: #fafafa;
}

table.accordian-content .r0 .odd{
  background-color: #ffffff;
}

table.accordian-content .r1 {
  background-color: #f7f7f7;
}

table.accordian-content .r1 .odd{
  background-color: #fcfcfc;
}

table.accordian-content .r2 {
  background-color: #f4f4f4;
}

table.accordian-content .r2 .odd{
  background-color: #fafafa;
}

table.accordian-content .r3 {
  background-color: #f1f1f1;
}

table.accordian-content .r3 .odd{
  background-color: #f8f8f8;
}

table.accordian-content .r4 {
  background-color: #ededed;
}

table.accordian-content .r4 .odd {
  background-color: #f5f5f5;
}

table.accordian-content .r4 td {
  border-bottom:  0px solid #fff;
}

table.election-deadlines td.b-left{
  border-left: solid 1px #fff;
}

table.election-deadlines td.b-left ul{
  padding-left:16px;
  margin:0;
}

table.election-deadlines td.b-left ul{
  padding-left:16px;
}

.trans-options {text-align:center;}

.trans-options {text-align:center;}

.required {
  display: inline;
  width: auto;
  float: none;
  color: #b20837;
}

.search-results dt {
  font-size:1.1em;
  font-weight:bold;
}

.search-results dd p.search-snippet{
  padding-bottom:0px;
  margin:0 0 10px 10px;
}

.election-dates.table-bordered {
  border-top:none;
  background-color:#fff;
}

.election-dates.voting-laws.table-bordered {
  border-top:solid #ccc 1px;
}

.election-dates.voting-laws th{
  background-color: #eaf5fb;
  border-bottom: solid #128AC2 2px !important;
}

.election-heldOn {white-space: nowrap;}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: #fff;
    border: 1px solid #ddd;
}

#stateSelection {margin-top:20px;}

.election-level {background-color: #f6fcff;}

.election-level h4{
  font-size: 18px !important;
  color: #004377;
}

.election-dates h4{
  color: #002051;
  font-size: 150%;
  display: inline-block;
  width: auto;
}

.election-dates h4.active{
    color:#128ac3;
    background-color:#f2f2f2;
}

.election-dates .state-name {
    background-color: #eaf5fb;
    border-bottom: solid #128AC2 2px !important;
}

.election-dates .glyphicon-ok {color:#1675B3;}

.election-dates .election-title{background-color:#f9f9f9;}

.election-dates .election-level{background-color:#f6fcff;}

.election-dates .election-level h2{ 
  font-size: 20px;
  color:#03163F;
}

.election-dates .election-title h2{
  font-size: 18px;
  color: #b20837;
}

.election-dates .election-title:nth-child(2) {border-top:none;}

.election-dates h1,
.election-dates h2,
.election-dates h3{ margin:2px auto;}

.election-dates h3 {
  font-size: 16px;
  margin-bottom:8px;
  color:#063D82;
}

.election-dates h1{
  font-size: 22px; 
  color:#03163F;
}
.election-dates h2{
  font-size: 18px; 
  color:#A60028;
}

.election-dates .glyphicon {color:#1675B3;}

#eod-form .glyphicon-ok {
  font-size: 16px;
  color: #b20837;
} 

.glyphicon-info-sign:hover{cursor:pointer;}

_:-ms-fullscreen,
:root #eod-form .glyphicon-ie {
    background:transparent url("../img/icons/ie-checkbox.png") no-repeat center;
    background-size:50%;
    display:block !important;
    width:33px;
    height:28px;
    margin:0 auto;
  }

_:-ms-fullscreen,
:root #eod-form .glyphicon-ok {display:none;}

.election-dates ul {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  padding-start: 0px;
  padding-left:16px;
}

.election-dates li {margin-bottom:6px;}
.election-dates strong {display:block;}

/* sets col height to match */

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 100010px;
    padding-left:10px;
    padding-right:10px;
}

.match-my-cols :nth-child(1),
.match-my-cols :nth-child(2),
.match-my-cols.domestic :nth-child(3){border-right:none;}

.match-my-cols{border-bottom:solid #D4D4D4 1px !important;}

.panel.create-account{
    margin-top:10px;
    margin-bottom:10px;
}

.create-account .panel-body{padding:0 15px;}

.eod-tabs{
  margin-bottom:25px;
  font-size:18px;
}

.eod-tabs li.active a {
  font-weight:700;
  color:#333;
}

.election-deadlines ul li{text-align:left;}
.election-deadlines div{display:inline-block;}

.social {
    display: none;
    position: fixed;
    bottom: -49px;
    left:0;
    width:100%;
    background-color:#00214a;
    z-index: 1;
    color:#fff;
    border-radius:0;
}
.social p {text-align:right;}

.center-list {
  text-align: center;
}
.center-list ul {
  text-align: left;
  display: inline-block;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .accordian-sect p, .accordian-sect dl dd { width: 100%; }

  .accordian { margin:10px auto; }

  #eod-form h5, #eod-form h4 {margin: 0px 0px 0px 11px;}
  .accordian-sect h4, .accordian-sect dl dt { width:auto;}
}

.corrected .ctrl {display:block!important; min-height:25px;}


/* sets col height to match */

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 100010px;
    padding-left:10px;
    padding-right:10px;
}


